body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

body > header{
    background-color: dodgerblue;
}

body > header > h1{
    color: white;
    margin: 0;
}

body > header> nav > ul {
    list-style: none;
    
}

body > header > nav > ul > li {
    display: inline;
   
}

body > header > nav > ul > li > a   {
    color: white;
    text-decoration: none;
}

body > footer {
    background-color: dodgerblue;
    text-align: center;
}

body > footer > h2 {
    color: white;
    margin:0;
}

/* body > main {
    width: 70%;
    margin: auto;
} */



.headline {
    max-width:300px;
    height: auto;

}

.stories > a {
    color: black;
    text-decoration: none;
}

form >textarea {
    width: 100%;
}


